
# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
.venv/
.env

# Jupyter
.ipynb_checkpoints/

# Data
data/*
!data/.gitkeep
!data/raw/.gitkeep
!data/processed/.gitkeep

# Reports
reports/figures/*
!reports/figures/.gitkeep
